@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --FF: 'Poppins', sans-serif;
    --FS: 16px;
    --REDCOLOR: hsl(0, 100%, 74%);
    --GREENCOLOR: hsl(154, 59%, 51%);
    --BLUEACCENT: hsl(248, 32%, 49%);
    --DARKBLUENEUTRAL: hsl(249, 10%, 26%);
    --GRAYISHBLUENEUTRAL: hsl(246, 25%, 77%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    height: 100vh;
    background-image: url(/images/bg-intro-mobile.png);
    background-color: var(--REDCOLOR);
}

.main__container {
    padding-inline: 20px;
    min-width: 335px;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header__container {
    margin-top: 80px;
    margin-bottom: 50px;
}

.header__title {
    font-size: 1.6em;
    color: white;
    text-align: center;
}

.header__paragraph {
    padding-top: 30px;
    font-size: 1.05em;
    color: whitesmoke;
    line-height: 2em;
    text-align: center;
}

.promo__price {
    color: var(--GRAYISHBLUENEUTRAL);
    background-color: var(--BLUEACCENT);
    padding: 20px 80px 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 7px 0px 0px rgba(51, 51, 51, 0.301);
}

.promo__price span {
    color: white;
    font-weight: bold;
}

.form__signup {
    background-color: white;
    border-radius: 10px;
    gap: 15px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 0px 0px rgba(51, 51, 51, 0.301);
}

.form__signup input {
    all: unset;
    font-weight: bold;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
}

.form__signup input:focus {
    border: 1px solid var(--DARKBLUENEUTRAL);
}

.submit__btn {
    all: unset;
    color: white;
    padding: 20px 30px 20px;
    background-color: var(--GREENCOLOR);
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
}

.promo__disclaimer {
    padding: 0 20px;
    font-size: .8em;
    text-align: center;
    color: var(--GRAYISHBLUENEUTRAL);
}

.promo__disclaimer a {
    text-decoration: none;
    color: var(--REDCOLOR);
    font-weight: bold;
}

@media (min-width: 40em) {
    
    body {
        background-image: url(/images/bg-intro-desktop.png);
        display: flex;
        align-items: center;
    }

    .main__container {
        max-width: 1200px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__container {
        max-width: 50%;
    }

    .header__title, .header__paragraph {
        text-align: left;
    }

    .header__title {
        font-size: clamp(2em, 5vw, 3em)
    }

    .promo__disclaimer {
        font-size: .7em;
    }
}
